<!--<div class="text-center">
		<h1>Trouve ton son</h1>
		<%= link_to "New article", new_article_path, class: "btn btn-primary" %>
	</div>
	<div class="container">
		<div class="row">
			<% @articles.each do |article| %>
				<div class="col-12">
					<div class="shadow bg-white rounded m-4 p-12 d-flex justify-content-between">
					<%= link_to article_path(article) do %>
						<h2><%= article.title %></h2>
					<%end%>
					<br><h2><%= "♥" * article.stars %></h2>
					<p><b><%= article.created_at.strftime("%D") %></b></p>
					</div>
				</div>
			<%end%>
		</div>
	</div> -->
<div class="text-center">
		<h1>Trouve ton son</h1>
		<%= link_to "New article", new_article_path, class: "btn btn-primary" %>
	</div>
		<div class="container">
			<div class="row">
				<% @articles.each do |article| %>
			
					<div class="col-4">
						<div class="card border-secondary mb-3" style="max-width: 18rem;">
							<h5 class="card-title">
								<%= link_to article_path(article) do%>  
							<h2>
								<%= article.title %>
							</h2>
				
							</h5>
							<div class="card-header">
			  					<p>
			  						<%= "♥" * article.stars %>
			  					</p>
								<p>
									<b><%= article.created_at.strftime("%D") %></b>
								</p>
								<%end%>
			  				</div>
			  				<div class="card-body text-secondary">
			    					<p class="card-text">
			    						
			    					</p>
			  				</div>
						</div>
			  					
			  		</div>
			  	<%end%>
		  	</div>
		</div>