<div class="background"></div>
<div class="overlay"></div>
<div class="text-center">
		<h1 class="title_index">Trouve ton son</h1>
		<%= link_to "Nouveau son", new_article_path, class: "btn btn-primary new" %>
	</div>
		<div class="container">
			<div class="row">
				<% @articles.each do |article| %>
			
					<div class="col-4">
						<div class="card border-secondary mb-3" style="max-width: 18rem;" style="text-decoration: none">
							<h5 class="card-title" style="text-decoration: none">
								<%= link_to article_path(article) do%>  
							<h2>
								<%= article.title %>
							</h2>
				
							</h5>
							<div class="card-header" style="text-decoration: none">
			  					<p class="stars">
			  						<%= "â­" * article.stars %>
			  					</p>
								<p>
									<b class="date"><%= article.created_at.strftime("%D") %></b>
								</p>
								<%end%>
			  				</div>
			  				<div class="card-body text-secondary">
			    					<p class="card-text">
			    						
			    					</p>
			  				</div>
						</div>
			  					
			  		</div>
			  	<%end%>
		  	</div>
		</div>
